*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial_Rounded_MT_Bold;
  src: url(Fonts/ARIAL_ROUNDED_BOLD.TTF);
}
.navbar{
  position: absolute;
}
a.nav-link{
  font-family: Arial_Rounded_MT_Bold;
  color:white !important;
  /* color:#EFCA48; */
  font-size: 24px;
}

.active a.nav-link{
  color:#EFCA48 !important;
}
.nav-link:hover{
  color:#EFCA48 !important;
}
@media (min-width:768px) {

}
#mobNavBarToggle{
  cursor: pointer;
}
#mob_banner{
  /* display:none; */
  display: none;
  /* height: 0; */
  transition: top 0.5s ease-in;
  width: 100%;
  position: relative;
  z-index: 10000;
  top: -1000px;
}
.mobLinks:hover path,.mobLinks.active path{
  fill:#EFCA48 !important;
}
@media (max-width:768px) {

  #navlogo{
    display: none;
  }
}


.Building{
  font-family: Arial_Rounded_MT_Bold;
  font-size: 36px;
  color:black;
}
.Pakistan{
  color:#1A933C;
}
.Read_More{
  font-family: Arial_Rounded_MT_Bold;
  font-size: 18px;
  color:#200660;
}
.follow-vfp{
  font-family: Arial_Rounded_MT_Bold;
  color:#200660;
  font-size: 36px;
}

a.Read_More{
  text-decoration: none;
}
a.Read_More:hover,a.Read_More:active{
  text-decoration: none;
}
